<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> PushApp </ion-title>
    <ion-buttons *ngIf="messages.length > 0" slot="end">
      <ion-button (click)="deleteMessages()" color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="pushService.userId">
    <ion-list-header>
      <ion-label>User ID:</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>{{pushService.userId}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="messages.length > 0">
    <ion-list-header>
      <ion-label>Messages:</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let push of messages">
      <ion-label>
        <h3>{{push.title | uppercase}}</h3>
        <p>{{push.body}}</p>
        <p>{{push.additionalData | json}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
